.selected {
    color: #39c381 !important;
}
.error{
    color: red;
}
.logo{
    margin-left: 30px;
}
.tag{
    margin-left: 120px;
}
.realmlogo{
    width: 220px;
    margin-top: -5px;
}
.realmlogoimage{
    width: 50px;
    margin-top: -9px;
}