
.divTable {
    display: table;
    width: 100%;
}

.divTableInner {
    display: table;
    width: 100%;
    align-content: center;
}

.divTableInnerTbl {
    display: table;
    width: 100%;
    border-spacing: 5px; /*cellspacing:poor IE support for  this*/
}

.divRow {
    display: table-row;
    width: auto;
    clear: both;
}

.divCell {
    float: left;
    margin-bottom: 50px;
    display: table-column;
    width: 33%;
    align-content: center;
}

.divCellInner {
    float: left;
    /*margine :10px;*/
    display: table-column;
    width: 100%;
}

.divCellButton {
    float: left;
    display: table-column;
    width: 50%;
}

.align-center {
    text-align: center;
}

.product-desc-link {
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding-top: 6px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.product-image-link {
    display: block;
    text-align: center;
}

.error {
    color: #ff0000;
}

label strong {
    color: #ff0000;;
}

.bottomRow {
    border-bottom: 1px solid #000000;
}

.logo {
    font-weight: normal;
    color: #000;
    font-size: 36px;
    line-height: 38px;
    margin-left: 70px;
}

.logo-fashion {
    font-weight: bold;
    color: #e66319;
    font-size: 36px;
    line-height: 38px;
}

.logo-tagline {
    font-weight: bolder;
    font-size: 22px;
    line-height: 24px;
}

.present {
    font-weight: bolder;
    font-size: 25px;
    line-height: 27px;

}

.divRowProduct {
    display: table-row;
    clear: both;
    width: 100%;
}

.divCellProduct {
    float: left;
    margin-left: 10px;
    display: table-column;
    width: 45%;
    align-content: center;
}

.divCellProductMetaData {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    display: table-column;
    width: auto;
}

.divCellShare {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    display: table-column;
    width: auto;
}

.divCellComment {
    float: left;
    display: table-column;
    width: 100%;
}

.divRowHeading {
    display: table-row;
    clear: both;
    background: #cdcdcd;
    font-weight: bolder;
}

.divTableComment {
    display: table;
    width: 100%;
    background-color: #eee;
    border: 1px solid grey;
}

.divRowHeadingComment {
    margin: 20px;
    border: 1px solid #1b1980;
    font-size: 20px;
    display: table-row;
    clear: both;
    background: #cdcdcd;
    font-weight: bolder;
}

.divCellCommentLabel {
    float: left;
    margin: 5px;
    display: table-column;
    font-weight: bolder;
    font-size: 20px;
    width: auto;
}

.divCellCommentText {
    float: left;
    margin: 5px;
    display: table-column;
}

.divCellProductMetaDataHeading {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    display: table-column;
    width: auto;
    font-weight: bolder;
}

.divTableComments {
    display: table;
    width: 100%;
    background-color: #eee;
    background: #cdcdcd;
}

.contactLabel {
    font-weight: bolder;
    font-size: 20px;
}

.contact-form {
    width: 100%;
    align-content: center;
}

.divTableContacts {
    display: table;
    width: 100%;
    background-color: #eee;
    border: 2px solid #ff0000;
}

.divRowContacts {
    display: table-row;
    width: 100%;
}

.divCellContactsLabel {
    float: left;
    display: table-column;
    width: 15%;
    margin-left: 10%;
}

.divCellContacts {
    float: left;
    display: table-column;
    width: 60%;
    margin-left: 30%;
}

.divCellContactsBtn {
    width: 40%;
    margin: 3px;
}

.error {
    font-size: 24px;
    font-weight: bolder;
}

.menuTable {
    display: table;
    width: 97.3%;
    background-color: #e8e8e8;
    border-top: 1px solid #0a0a0a;
    border-bottom: 1px solid #0a0a0a;
    margin-left: 3%;
    margin-top: 30px;
}

.menuRow {
    display: table-row;
}

.menuCell {
    float: left;
    display: table-column;
    width: 24%;

}

.menuLogoCell {
    float: left;
    display: table-column;
    width: 33%;
}

.menuTabCell {
    float: left;
    display: table-column;
    width: 67%;
}

.menuCell a {
    line-height: 25px;
    font-family: Arial, Calibri, Helvetica !important;
    font-size: 12px;
    color: #000000;
    margin-left: 30px;
    text-decoration: none;
}

.header-section-table {
    display: table;
    width: 100%;

}

.topWrapper {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    border-left: #f2f2f2 1px solid;
    border-right: #f2f2f2 1px solid;

}

.wrapper {
    margin-left: 8%;
    margin-right: 8%;
    border-left: #f2f2f2 1px solid;
    border-right: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
}

.gallery-image-cell {
    margin-top: 10px;
    border: 1px blue solid;;
}

.gallery-table {
    display: table;
    width: 100%;
}

.gallery-row {
    display: table-row;
    width: 100%;
}

.promo-image-cell {
    float: left;
    margin-top: 50px;
    display: table-column;
    margin-right: 37px;
}
.promo-image-cell-corner {
    float: left;
    margin-top: 50px;
    display: table-column;
}
.wrapper-start{
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}
